.container {
    max-width: 680px;
    margin: 5% auto;
    background: #fdfdfd;
    padding: 30px;
}

.hidden {
    display: none;
}

.error {
    color: red;
    text-transform: lowercase;
    font-size: 12px;
    display: block;
    margin-top: 10px;
}